body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #73192A;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

header {
    text-align: center;
}


h1, h2, h3 {
    color: #73192A; /* rojo */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    border-bottom: 2px solid #00030D; /* azul */
    padding-bottom: 5px;
}

section p {
    margin: 10px 0;
}

section ul {
    margin-left: 20px;
}

section ul li:before {
    content: "•";
    margin-right: 5px;
    color: #00030D; /* azul */
}

section ul li {
    color: #000000; /* texto oscuro */
}
